Flask
flask-cors
Werkzeug
pytesseract
Pillow
requests
libreoffice-python
imagemagick
python-dotenv
tiktoken
langchain
grpcio
protobuf

# YOLO dependencies
ultralytics
opencv-python-headless
torch
torchvision

# PaddleOCR dependencies
paddleocr
paddlepaddle-gpu

# Google Cloud TTS
google-cloud-texttospeech

# Eleven Labs TTS (if using Eleven Labs)
elevenlabs
