Flask
flask-cors
Werkzeug
pytesseract
Pillow
concurrent.futures
requests
libreoffice
imagemagick
python-dotenv
tiktoken
azure-cognitiveservices-vision-computervision
langchain
azure-ai-vision-imageanalysis
