Flask
flask-cors
Werkzeug
pytesseract
Pillow
requests
libreoffice
imagemagick
python-dotenv
tiktoken
azure-cognitiveservices-vision-computervision
langchain
azure-ai-vision-imageanalysis

# YOLO dependencies
ultralytics
opencv-python-headless
torch
torchvision

# PaddleOCR dependencies
paddleocr
paddlepaddle-gpu

# Google Cloud TTS
google-cloud-texttospeech

# Eleven Labs TTS (if using Eleven Labs)
elevenlabs
